@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@media only screen and (max-width: 576px) {
  .bi-house-fill, .bi-envelope-fill, .bi-gear-fill {
    display: inline;
  }
  .inline-nav-text {
    display: none;
  }
  /*Get rid of tooltips on phones */
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .bi-house-fill, .bi-envelope-fill, .bi-gear-fill {
    display: none;
  }
  .inline-nav-text {
    display: inline;
  }
}
@media only screen and (min-width: 768px) {
  .bi-house-fill, .bi-envelope-fill, .bi-gear-fill {
    display: inline;
  }
  .inline-nav-text {
    display: inline;
  }
}
body {
  background-color: #F0F0F0;
}
#login-page {
  border: 2px solid blue;
  background-color: #F9F9F9;
  margin: 1rem;
  display: none;
}
#profile-picture {
  margin-top: 5rem;
}
#liked-posts {
  display: none;
}
#create-post {
  display: none;
}
#profile-picture {
  border: 2px solid blue;
  max-width: 20%;
  height: auto;
}
.d-inline {
  margin: 1rem;
}
i {
  margin: 0 1rem;
}
.bi-chat-left:hover, .bi-suit-heart:hover {
  color: red;
}
button {
  margin: 0 1rem;
}
.navlink {
  color: #121212;
  text-decoration: none;
}
textarea {
  border: none;
  margin: 1rem;
  width: 90%;
  resize: none;
  background-color: #F6F6F6;
}
#usf-comment-box, #aurelius-comment-box, #blackjack-comment-box, #hbo-comment-box, #halo-comment-box, #checkers-comment-box, #ufc-comment-box, #seneca-comment-box, #uf-comment-box {
  display: none;
}
.nav-tabs {
  position: -webkit-sticky; /*try this out in internet explorer */
  top: 5rem;
}
#settings {
  display: none;
}
form {
  border: 2px solid gray;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  margin: 1rem;
}
.form-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}
#dark-mode-switch {
  font-size: 1.5rem;
}